<!DOCTYPE HTML>
<!-- PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Busqueda de Componentes</title>
</head>
<body>
<h1>Buscar Componente</h1>
	<table align="center">
		<tr>
			<td align="right">Componente:</td><td><input type="text" name="Componente"/></td>	
		</tr>
		<tr>
			<th th:text="#{plataformas}">Plataforma: </th>
		</tr>
		<tr>
			<td align="right"><select name="Sistema" style="width: 100%"></select>
		</td>	
		</tr>
		<tr>
			<td align="right">Clase:</td><td><select name="Clase" style="width: 100%"></select>
		</td>	
		</tr>
		<tr>
			<td align="right">Biblioteca:</td><td><select name="Biblioteca" style="width: 100%"></select>
		</td>	
		</tr>
</table>
<p th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>