<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <title>Alta de Usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
   <h1>Usuarios</h1>
   
<body>
 <form>
	<table border="1" style="width 20%" align="center" id="Datos">
	<caption>Alta de Usuario</caption>
	<tr>
		<td>
			<label for="inputusuario">Usuario</label>
		</td>
		<td>
			<input type="usuario" class="form-control" id="inputusuario" placeholder="Usuario"/>
		</td>
  </tr>
  <tr>
	<td>
		<label for="inputnombre">Nombre</label>
	</td>
	<td>
		<input type="nombre" class="form-control" id="inputnombre" placeholder="Nombre"/>
	</td>
  </tr>
  <tr>
	<td>
		<label for="inputapellidopat">Apellido Paterno</label>
	</td>
	<td>
		<input type="apellidopat" class="form-control" id="inputapellidopat" placeholder="Apellido Paterno"/>
	</td>
  </tr>
    <tr>
		<td>
			<label for="inputapellidomat">Apellido Materno</label>
		</td>
		<td>
			<input type="apellidomat" class="form-control" id="inputapellidomat" placeholder="Apellido Materno"/>
		</td>
  </tr>
    <tr>
		<td>
			<label for="inputpassword">Password</label>
		</td>
		<td>
			<input type="password" class="form-control" id="inputpassword" placeholder="Password"/>
		</td>
  </tr>
    <tr>
		<td>
			<label for="inputcorreo">Correo</label>
		</td>
		<td>
			<input type="correo" class="form-control" id="inputcorreo" placeholder="Correo"/>
		</td>
  </tr>
  </table>
  <!-- <input type="button" value="Crear usuario" id="nuevo" name="nuevo" onclick= "document.form1.action" = 'nuevo.jsp';  document.form1.submit()" /> -->
  <button type="button" value="Crea usuario" id="nuevo">Crear</button>
  <button type="submit" value="Logout">Salir</button>
</form>

<form1>
<table border="1" style="width 20%" align="center">
	<caption>Búsqueda de Usuario</caption>
	<tr>
		<th>Usuario</th>
		
		<th>Nombre</th>
		
		<th>Apellido Paterno</th>
		
		<th>Apellido Materno</th>
		
		<th>Password</th>
		
		<th>Correo</th>
		
	</tr>
		<td><form input="${usuario.usuario}"></form></td>
		<td><form input="${usuario.nombre}"></form></td>
		<td><form input="${usuario.apellidopat}"></form></td>
		<td><form input="${usuario.apellidomat}"></form></td>
		<td><form input="${usuario.password}"></form></td>
		<td><form input="${usuario.correo}"></form></td>
	<tr>
	</tr>
</table>
<button type="search" value="buscar">Buscar</button>
</form1>

</body>
</html>